#ignore env variables

#ignore files in Feedback and Data
Feedback/
Data/

#ignore model config
model_config.json

#ignore training_data and validation data files
training_data.jsonl
validation_data.jsonl

#ignore pycache 
__pycache__/